.navbar{
    --bs-navbar-active-color: rgba(196,155,187,1);
}
.navbar-dark {
    --bs-navbar-color:rgba(56,2,59,1);
    --bs-navbar-hover-color: rgba(196,155,187,1);
    --bs-navbar-active-color:rgba(196,155,187,1);
}

:root {
    --bs-primary:#C49BBB;
    --bs-secondary:#D1BCE3;
  }

root {
    --bs-primary:#C49BBB;
    --bs-secondary:#D1BCE3;
    --bs-link-color: #C49BBB;
    --bs-link-hover-color:#38023B;
}
.social-icons .social-icon {
    background: #38023B;
    color: #D1BCE3;
    &:hover{
        transition: 0.5s ease;
        background:#D1BCE3;
        color:#38023B;
    }
}

body {
    -webkit-tap-highlight-color:#38023B;
    color: #38023B;
    --bs-link-color: #C49BBB;
    --bs-link-hover-color:#38023B;
  }

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    color:#38023B;
  }

#page-top nav img{
    box-shadow: 0 0 10px rgba(56,2,59,1);
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color:#38023B;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/*滑鼠碰到變大*/
.nav-link:hover {
    color: #C49BBB;
    font-size: 150%;
}

.nav-link:active {
    color:#C49BBB !important;
}

/*左邊背景*/
.bg-primary {
    background-color: transparent !important;
    background-image: url(../assets/img/background\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*學號顏色*/
h1 span{
    color:#D1BCE3;
}

#experience .subheading {
    color: #38023B;
    opacity:0.6;
    font-size:larger;
}

#education .subheading{
    color: #38023B;
    opacity:0.6;
    font-size:larger;
}

/*進度條字體顏色*/
.progress-bar ,.progress-bar-striped , .progress-bar-animated{
    color: #38023B;
}

.progress {
    width: 50%;
    background-color:#FAF8D4;
    --bs-progress-bar-bg: #D1BCE3;
}

.about-title p{
    background-color:#FAF8D4 !important;
    padding: 50px 30px;
    border-radius: 10px;
    margin: 0px;
    background-size: cover;
}

.about-title .subheading a{
    color: #C49BBB;
     &:hover{
        transition: 1s ease;
        background: #38023B;
        color: #D1BCE3;
        text-decoration: none;
        border-radius: 20px;
    }
}

.about-title .dropdown-item{
    color: #38023B;
    &:hover{
        transition: 0.5s ease;
        background:#38023B;
        color:#fff;
        border-radius: 0%;
        text-decoration: none;
    }
}

.text-primary {
    color: #C49BBB !important;
}

/*#contact .container{
    width: 100%;
    height: 100px;
    position: fixed;
    float: center;
}

#contact .container img{
    opacity: 0.3;
    position: relative;
    position: fixed;
}

#contact .social-icon{
    position:fixed;
    float: center;
}*/

#about .btn{
    background: #D1BCE3;
    color: #38023B;
    &:hover{
        transition: 1s ease;
        background: #38023B;
        color: #D1BCE3;
        text-decoration: none;
        border-radius: 20px;
    }
}

#v-profile #video{
    text-align: center;
    margin: 20px 0;
}

#v-profile div ul{
   padding: 5px;
   text-align:left;
   background: #FAF8D4;
}

#v-profile div ul li{
    margin: 50px;
}

#v-profile #photo{
    text-align: center;
    margin: 20px 0;
}

#common{
    background: fixed url(../assets/img/background4.JPG) center center;
    background-size: cover;
    color: #38023B;
}

/*咁為什麼這裡沒效果
#common .linkcontact  {
    color: #C49BBB;
    &:hover{
        transition: 0.5s ease;
        color: #38023B;
        text-decoration: underline;
    }
}*/

#common h2 .accordion-button{
    color: #38023B;
    background: #fff;
        &:hover{
        transition: 0.5s ease;
        color: #38023B;
        background: #D1BCE3;
        }
}

#contact{
    background: fixed url(../assets/img/background3.jpg) center center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

 /* 平滑滾動動畫 */
 @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
}

.art-gallery {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-bottom: 3px;
}
  
.scrolling-content {
    display: inline-block;
    animation: scroll-left 25s linear infinite;
}
  
.art-gallery img {
    height: 200px;
    margin: 0 10px;
    display: inline-block;
    border-radius: 8px;
    object-fit: cover;
    pointer-events: auto;
}

.artsmall{
    text-align: center;
    margin: 20px 0;
}

.list-group-item {
    background:#fbf9fe;
    color: #38023B;
    margin: 8px;
}

.list-group-item-action:hover {
    background:#FAF8D4 !important;
    color: #38023B;
}

#education h3 {
    background:#FAF8D4 ;
    padding: 5px;
    width: 60%;
}