.social-icons .social-icon {
    background: #38023B;
    color: #D1BCE3;
    &:hover{
        transition: 0.5s ease;
        background:#D1BCE3;
        color:#38023B;
    }
}

body {
    color: #38023B;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color:#38023B;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/*滑鼠碰到變大*/
.nav-link:hover {
    color: #C49BBB;
    font-size: 150%;
}

.nav-link:active {
    color:#C49BBB !important;
}

/*我要怎麼讓字停在淺紫色而不是白色啊啊啊*/
.navbar-nav .nav-item{
    color:#C49BBB;
}

/*左邊背景*/
.bg-primary {
    background-color: transparent !important;
    background-image: url(../assets/img/background\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*學號顏色沒改成功*/
h1 span{
    color:#D1BCE3;
}

/*進度條字體顏色*/
.progress-bar ,.progress-bar-striped , .progress-bar-animated{
    color: #38023B;
}

.progress {
    width: 50%;
    background-color:#FAF8D4;
}